
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  overflow-x: hidden;
  padding-top: 10px;
  margin-top: 0px;
 }
 .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  </style>
</head>
<body>
  <div>
    <!-- <h1 class="d-flex justify-content-center">Our first project</h1> -->
    <!-- <nav class="navbar navbar-expand-sm  " style="background-image: linear-gradient(to right,lavender,violet);">
      <ul class="navbar-nav">
        <li class="nav-items"><button class="btn btn-outline-success btn-light" routerLink="department">Department</button></li>

        <li class="nav-items"><button class="btn btn-outline-success btn-light" routerLink="employee">Employee</button></li>
      </ul>

    </nav> -->



   
  </div>

      <div class="sidenav" style="background-image: linear-gradient(to right,lavender,violet);">
      <a href="department">Department</a>
      <a href="event">Event scheduler</a>
      <!-- <a href="employee">Employee</a> -->
      

  </div>
  <router-outlet></router-outlet>
</body>
</html>