<!-- <p>add-edit-dep works!</p> -->
<div class="form-group row">
<label for="" class="col-sm-2 col-form-label">Name</label>
<div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="DepartmentNAME"
    placeholder="Enter Department name">

</div>
</div>

<div style="text-align: end; padding-top: 2px;">
    <button (click)= "addDepartment()" *ngIf = "dep.DepartmentID==0" class="btn btn-success">Add</button>
<button (click)= "updateDepartment()" *ngIf = "dep.DepartmentID!=0" class="btn btn-success">Update</button>
</div>

